<head>
<title><%= @parent.title %></title>
</head>

<body>
<header>
	<a href="<%= weixin_directory_path(@parent, customer_id: params[:customer_id]) %>">
		<img src="<%= @parent.cover.middle1x.url %>" width="100%">
	</a>
</header>
<% if @models.present? %>
	<% @models.each do |key, value| %>
		<div class="pro-t"><a href="#"><%= KitProfile.categories_for_select[key][0] %></a></div>
		<div class="row pro-list">
			<% value.each do |kit| %>
				<div class="col-xs-12 col-sm-6"> 
					<a href="<%= weixin_directory_kit_path(@parent, kit, customer_id: params[:customer_id]) %>"><img src="<%= kit.cover.middle1x.url %>"></a>
					<h1><a href="<%= weixin_directory_kit_path(@parent, kit, customer_id: params[:customer_id]) %>"><%= kit.title %></a></h1>
					<figcaption>标配 <%= kit.directory_kits.where(directory_id: @parent.id).first.items_count %></figcaption>
				</div>
			<% end %>
		</div>
	<% end %>
<% end %>
</body>
</html>
