<head>
<title><%= t('breadcrumbs.admin.indents.show') %></title>
</head>

<body>
<div class="pro-kd">
	<p><%= t('activerecord.attributes.indent.code') %>：<%= @model.code %></p>
	<p><%= t('activerecord.attributes.indent.logistics') %>：<%= @model.logistics.blank? ? "无" : @model.logistics %></p>
	<p><%= t('activerecord.attributes.indent.logistics_code') %>：<%= @model.logistics_code.blank? ? "无" : @model.logistics_code %></p>
</div>
<div class="pro-address">
	<div class="pro-address-top">
		<span><%= t('activerecord.attributes.address.name') %>：<%= @customer.address.blank? ? "无" : @customer.address.name %></span>
		<span><%= @customer.address.blank? ? "无" : @customer.address.phone %></span>
	</div>
	<p><%= t('activerecord.attributes.address.address') %>：<%= @customer.address.blank? ? "无" : @customer.address.address %></p>
</div>
<div class="pro-addlt pro-addsg">
	<img src="<%= @model.kit.cover.middle1x.url %>">	<div class="info">
		<a href="<%= weixin_directory_kit_path(@model.directory, @model.kit, customer_id: params[:customer_id]) %>"><%= @model.kit.title %></a><br>
		申请时间：<%= I18n.l @model.created_at.to_date, format: :long %><br>
		数量 * <%= @model.item_count %>		
	</div>
</div>

</body>
</html>

